google-api-python-client
google-auth-httplib2
google-auth-oauthlib
PyDrive
llama-index
llama-index-readers-google
streamlit
llama-index-llms-openai
llama-index-extractors-entity
python-dotenv
pydrive
docx2txt
torch 
transformers 
python-pptx 
Pillow
fastapi
uvicorn
sqlalchemy
pydantic
psycopg2-binary
pyjwt
passlib
python-jose
llama-index-readers-microsoft-onedrive
databases[postgresql]
alembic 
python-multipart
msgraph-core
azure-identity
msgraph-core==1.0.0
msgraph-sdk
requests-oauthlib
msal
Office365-REST-Python-Client
flake8
black
isort
requests
nbconvert
